body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
    font-weight: normal;
}

button {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}

button:hover {
    background-color: #3498db;
}

#submitAnotherFormBtn {
    display: none;
    margin: 0 auto;
    background-color: #e74c3c;
}

#submitAnotherFormBtn:hover {
    background-color: #c0392b;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

/* QR Code Styling */
#qrcode {
    text-align: center;
    margin: 40px 0;
}

#qrcode svg {
    width: 80%;
    max-width: 400px;  /* Limit maximum size for large screens */
    height: auto;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
    form {
        padding: 10px;
        width: 95%;
    }

    h1 {
        font-size: 24px;
    }

    button {
        width: 100%;
        font-size: 18px;
    }

    input[type="text"] {
        width: 100%;
        font-size: 14px;
    }

    #qrcode {
        margin-top: 20px;
    }
}
